* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#blog_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog_card {
  display:flex;
  width: 70%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.blog_card:hover {
  background-color: rgb(200, 200, 200);

}
