body {
  background-color: var(--black);
  box-sizing: border-box;
  margin: 0px;
  padding 0px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

#main_title {
  padding: 10px;
  background-color: var(--white);
  color: var(--black);
  font-size: 2em;
}

#sub_title {
  font-size: 11px;
  border: none;
  color: var(--white);
}

.options {
  display:flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  padding: 0px
}

.options a {
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  text-decoration: none;
}

