body {
  background-color: var(--black);
  box-sizing: border-box;
  margin: 0px;
  padding 0px;
}
html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

#main_title {
  padding: 10px;
  background-color: var(--white);
  color: var(--black);
  font-size: 2em;
  border: 1px solid var(--white);
  border-radius: 3px;
}

#sub_title {
  font-size: 11px;
  border: none;
  color: var(--white);
}

.options {
  display:flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 30px;
  padding: 0px;
  animation: fadeInAnimation ease 3s;
}

.options a {
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 3px;
  text-decoration: none;
}

.options a:hover {
  padding: 10px;
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

main {
  height: 100vh;
  color: var(--white);
}

.project_card a {
  text-decoration: none;
  color: var(--white);
}

