* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
  "header"
  "main"
  "footer";

  background-color: var(--black);
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

header {
  grid-area: "header";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20%;
}


#main_title {
  padding: 10px;
  margin: 10px;
  background-color: var(--white);
  color: var(--black);
}

#main_title.active {
  padding: 10px;
  margin: 10px;
  background-color: var(--black);
  color: var(--white);
}

#sub_title {
  font-size: 11px;
  border: none;
}

main {
  margin-top: 10px;
  grid-area: "main";
}

.options {
  display:flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  padding: 0px;
}

.options a {
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  text-decoration: none;
}

.options a:hover {
  background-color: var(--white);
  color: var(--black);
}


footer {
  grid-area: "footer";

}
