:root {
  --background: rgb(255,255,255);
  --background-egg: rgb(240,233,228);
  --text-primary: rgb(15,15,15);
  --accent-color: rgb(245,245,245);
  --pastel-purple: rgb(189,169,233);
  --pastel-blue: rgb(59,50,255);
  --pastel-yellow: rgb(255,255,137);
  --pastel-red: rgb(255,59,59);

  /* Pastel Accent Colors */
  --pastel-pink:   #e7a1b0;  /* Delicate pastel pink */
  --pastel-green:  rgb(138,255,138);
  --pastel-grey: rgb(200, 200, 200);  /* Warm, light yellow for a subtle highlight */
}
