* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#blog-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  flex-direction: column;
}

.blog-card {
  display:flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 1px dashed #ccc;
  border-radius: 6px;
}

.blog-card:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
