html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', serif;
}
header {
  display: flex;
  height: 100vh;
  position: relative;
}

.main-title {
  margin: 0 30px;
  padding: 0px;
  color: var(--text-primary);
  font-size: 55px;
  font-weight: 700;
}
.main-title h1 { /* margin issues */
  margin: 0px;
}
#hiim {display:none;} /* hides the mobile headers */
#name-mobile {display:none;}

.nav-bar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.nav-bar a { /* elements inside nav*/
  display: inline;
  color: var(--text-primary);
  text-align: right;
}
.nav-bar a:hover {
  color: grey;
  transition: 0.2s;
}
.nav-bar a:active {
  color: darkgray;
  transition: 0.1s;
}

.main-links-container { /* puts everything in the dead center */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.options {
  display:flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px; /* padding issues, used for alighing to center */
  font-size: 20px;
  font-weight: 600;
  list-style: none;
}
.options a {
  padding: 14px 50px;
  border: 1px solid var(--text-primary);
  box-shadow: 7px 7px var(--text-primary);
  color: var(--text-primary);
  text-decoration: none;
  transition: 0.2s;
}
.options a:hover { /* change color and background with transition */
  background-color: var(--eggshell);
  box-shadow: 0 0;
  transition: 0.2s;
}
.options a:active { /* change color and background with transition */
  background-color: var(--pastel-purple);
  transform: scale(1.05); /* slightly grows the element */
  box-shadow: 0 0;
  transition: 0.05s;
}

@media (max-device-width:500px) {
  .main-links-container { /* reduce gap */
    gap: 20px;
  }

  .nav-bar a:active {
    transition: 0s;
  }

  .main-title {
    display: flex;
    align-items: center;
    font-size: 60px;
  }
  .main-title * {
    margin: 0px;
    padding: 0px;
  }
  .mobile-wrapper { /* right align the titles */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #name {
    display:none;
  }
  #hiim {
    display: inline-block;
    font-size: 20px;
  }
  #name-mobile {
    display: inline-block;
  }

  .options a {
    display: inline-block;
    width: 190px;
    padding: 14px 0;
    margin: 0px;
    text-align: center;
  }

  .options {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 18px;
  }
  .options a:active {
    /* background-color: var(--background); */
    transition: 0s;
  }
}
@media (max-device-width:405px) {
  .main-title {
    font-size: 55px
  }
