html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--background);
  color: var(--text-primary)
  box-sizing: border-box;
  font-family: 'Inter', serif;
}

header {
  display: grid;
  grid-template-rows: auto;
  height: 100vh;
  position: relative;
}

#main-links {
  place-self: center;
}

#main-title {
  color: var(--text-primary);
  font-size: 55px;
  font-weight: 700;
  text-align:center;
}

.options {
  display:flex;
  padding: 0px;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  font-size: 20px;
  list-style: none;
}

.options a {
  padding: 14px 50px;
  color: var(--text-primary);
  text-decoration: underline;
  /* border: 1px solid var(--background); */
  /* border-radius: 3px; */
  /* text-decoration: none; */
}

.options a:hover {
  background-color: var(--text-primary);
  color: var(--background);
  text-decoration: none;
}

.dropdown {
  position: relative;
}

@media (hover: hover) {
  .dropdown:hover {
    .dropdown-button {
      background-color: var(--text-primary);
      color: var(--background);
      text-decoration: none;
    }
    .dropdown-content {
      display: block;
    }
  }
}

@media (hover: none) {
  .dropdown.open {
    .dropdown-content{
      display:block;
    }
    .dropdown-button {
      background-color: var(--text-primary);
      color: var(--background);
    }
  }
}

.dropdown-content a {
  font-size: 17px;
  display: block;
  border: 1px solid var(--text-primary);
  text-align: center;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--background);
  color: var(--text-primary);
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
  top: 100%;
  margin-top: 13px;
}

@media (max-device-width:500px) {
  .options {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
