html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', serif;
}

header {
  display: flex;
  height: 100vh;
  position: relative;
}

.main-title {
  /* position: absolute; */
  /* top: 1rem; */
  /* left: 1rem; */
  margin: 0px;
  padding: 0px;
  color: var(--text-primary);
  font-size: 55px;
  font-weight: 700;
}

.nav-bar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.nav-bar a { /* elements inside nav*/
  display: inline;
  color: var(--text-primary);
  text-align: right;
}
.nav-bar a:hover { /* elements inside nav hover*/
  color: grey;
  transition: 0.2s;
}

.main-links-container { /* main links container */
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.options {
  display:flex;
  flex-direction: row;
  gap: 30px;
  padding: 0px; /* padding issues, used for alighing to center */
  font-size: 20px;
  font-weight: 600;
  list-style: none;
}
.options a {
  padding: 14px 50px;
  color: var(--text-primary);
  box-shadow: 7px 7px var(--text-primary); /* makes it pop out */
  border: 1px solid var(--text-primary);
  text-decoration: none;
  transition: 0.2s;
}
.options a:hover { /* change color and background with transition */
  /* background-color: var(--text-primary); */
  /* color: var(--background); */
  box-shadow: 0px 0px var(--text-primary); /* makes it pop out */
  transition: 0.2s;
}
.options a:active { /* change color and background with transition */
  background-color: var(--accent-color);
  /* color: var(--background); */
  transform: scale(1.05); /* slightly grows the element */
  /* color: var(--text-primary); */
  /* background-color: var(--background); */

  box-shadow: 0px 0px 0px 0px var(--text-primary); /* makes it pop out */
  transition: 0.1s;
}

@media (max-device-width:500px) {
  .options {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .options a:active {
    background-color: var(--background);
    transition: 0.1s ease-in;
  }
}
