html {
  scroll-behavior: smooth;
}

body {
  margin: 10px;
  padding 10px;
  background-color: var(--background);
  color: var(--text-primary)
  box-sizing: border-box;
  font-family: 'Inter', serif;
}

header {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  position: relative;
}

nav ul {
  position: absolute;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  list-style: none;
}

nav a {
  padding: 10px;
  color: var(--text-primary);
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: var(--background);
  background-color: var(--pastel-purple);
  border-radius: 3px;
  text-decoration: none;
}

#main-links {
  place-self: center;
}


#main-title {
  color: var(--text-primary);
  font-size: 55px;
  font-weight: 700;
  text-align:center;
}

.options {
  display:flex;
  padding: 0px;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  font-size: 20px;
  list-style: none;
}

.options a {
  padding: 14px;
  color: var(--text-primary);
  /* border: 1px solid var(--background); */
  /* border-radius: 3px; */
  /* text-decoration: none; */
}

.options a:hover {
  background-color: var(--text-primary);
  color: var(--background);
  text-decoration: none;
}

main {
  height: 100vh;
}

.project-card a {
  text-decoration: none;
  color: var(--text-primary);
}

@media (max-device-width:500px) {
  .options {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
