html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', serif;
}

header {
  display: flex;
  height: 100vh;
  position: relative;
}

.main-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0px;
  padding: 0px;
  color: var(--text-primary);
  font-size: 55px;
  font-weight: 700;
}

.nav-bar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.nav-bar a { /* elements inside nav*/
  display: inline;
  color: var(--text-primary);
  text-align: right;
}
.nav-bar a:hover { /* elements inside nav hover*/
  color: grey;
  transition: 0.2s;
}

.main-links-container { /* main links container */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options {
  display:flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding: 0px; /* padding issues, used for alighing to center */
  font-size: 20px;
  font-weight: 600;
  list-style: none;
}
.options a {
  padding: 14px 50px;
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  text-decoration: none;
}
.options a:hover { /* change color and background with transition */
  background-color: var(--text-primary);
  color: var(--background);
  transition: 0.2s;
}

@media (max-device-width:500px) {
  .options {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
