body {
  margin: 10px;
  padding 10px;
  background-color: var(--background);
  color: var(--text-primary);
  box-sizing: border-box;
}

#sound-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.audio-card {
  width: fit-content;
  padding: 10px;
  margin: 10px 5px;
  display: block;
  border: 1px solid var(--text-primary);
}

.audio-card h4 {
  font-style: italic;
}

footer {

}
