.image-transition {
  background: url('../img/transtition_mono.png') center/contain no-repeat;
  background-color: var(--text-primary);
  background-size: auto;
  height: 20vh;
}

#projects-page {
  background-color: var(--text-primary);
  height: 100vh;
}

.project-card a {
  text-decoration: none;
  color: var(--background);
}

